
@font-face {
    font-family : 'G마켓 산스 TTF Light';
    src: url("../font/GmarketSansTTFLight.ttf") format('truetype');
    font-weight: 300;
}

@font-face {
    font-family : 'G마켓 산스 TTF Regular';
    src: url("../font/GmarketSansTTFRegular.ttf") format('truetype');
    font-weight: 500;
}

@font-face {
    font-family : 'G마켓 산스 TTF Bold';
    src: url("../font/GmarketSansTTFBold.ttf") format('truetype');
    font-weight: 700;
}

@font-face {
    font-family : 'Noto Sans KR';
    src: url("../font/NotoSansKR-Regular.otf") format('opentype');
    font-weight: 300;
}

@font-face {
    font-family : 'Pretendard';
    src: url("../font/Pretendard-Light.ttf") format('truetype');
    font-weight: 100;
}

@font-face {
    font-family : 'Pretendard';
    src: url("../font/Pretendard-Regular.ttf") format('truetype');
    font-weight: 300;
}

@font-face {
    font-family : 'Pretendard';
    src: url("../font/Pretendard-Medium.ttf") format('truetype');
    font-weight: 500;
}

@font-face {
    font-family : 'Pretendard';
    src: url("../font/Pretendard-SemiBold.ttf") format('truetype');
    font-weight: 700;
}

@font-face {
    font-family : 'Pretendard';
    src: url("../font/Pretendard-Bold.ttf") format('truetype');
    font-weight: 800;
}

@font-face {
    font-family : 'Pretendard';
    src: url("../font/Pretendard-Black.ttf") format('truetype');
    font-weight: 900;
}

