@font-face {
    font-family : 'G마켓 산스 TTF';
    src: url("../font/InfinitySansR-Regular.ttf") format('truetype');
}
@font-face {
    font-family : '210 마마블럭';
    src: url("../font/InfinitySansR-Regular.ttf") format('truetype');
}