/* pc responsive */

@media screen and (min-width: 769px){

    .pc{
        display: unset;
    }

    .mobile{
        display: none;
    }

    section{
        padding-top: 200px;
    }

    .inner{
        max-width: 1440px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .sec-title{
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 100px;
    }

    /* header start */

    header>.inner{
        padding: 10px 0px;
    }

    header>.inner>.logo{
        width: 80px;
        height: 80px;
        background-image: unset;
    }

    header>.inner>.logo>a{
        height: 100%;
        display: block;
    }

    header>.inner>.logo>a>img{
        width: 80px;
        height: 80px;
    }


    header>.inner>.menu-wrap{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    header>.inner>.menu-wrap>li{
        width: 150px;
        font-size: 28px;
        line-height: 80px;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        /* transition-duration: 0.5s; */
        background-image: url(../img/underline-short.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: relative;
    }

    header>.inner>.menu-wrap>li>a{
        position: relative;
        z-index: 1000;
    }

    header>.inner>.menu-wrap>li>span{
        display: block;
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        top: 0px;
        right: 0px;
        transition-duration: 0.5s;
    }
    
    header>.inner>.menu-wrap>li:hover>span{
        width: 0%;
    }
    
    header>.inner>.menu-wrap>li.active>span{
        width: 0%;
    }

    header>.inner>.menu-wrap>li:last-child{
        margin-right: 0px;
    }

    /* header end */
    /* section01 start */

    main>.sec01{
        padding-top: 140px;
    }

    main>.sec01>.cont-wrap{
        max-width: 1440px;
        height: calc(100vh - 140px);
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    main>.sec01>.cont-wrap>.main-text{
        font-size: 80px;
        line-height: 140px;
    }
  
    main>.sec01>.cont-wrap>.img-box{
        width: 420px;
        border: 30px solid #fff;
    }
    
    /* section01 end */
    /* section02 start */

    main>.sec02>.inner>.cont-wrap>.profile{
        display: flex;
        justify-content: space-around;
    }

    main>.sec02>.inner>.cont-wrap>.profile>.photo-cont{
        margin-right: 80px;
        margin-bottom: 80px;
        left: unset;
        transform: unset;
    }

    main>.sec02>.inner>.cont-wrap>.profile>.photo-cont>.sticker>img{
        height: 66px;
    }

    main>.sec02>.inner>.cont-wrap>.profile>.photo-cont>.card{
        border: 30px solid #fff;
    }

    main>.sec02>.inner>.cont-wrap>.profile>.photo-cont>.card>.profile-box{
        width: 400px;
        height: 410px;
    }

    main>.sec02>.inner>.cont-wrap>.profile>.photo-cont>.card>.info{
        padding-top: 20px;
    }

    main>.sec02>.inner>.cont-wrap>.profile>.photo-cont>.card>.info>p{
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    main>.sec02>.inner>.cont-wrap>.profile>.text-list{
        margin-top: 100px;
    }
    
    main>.sec02>.inner>.cont-wrap>.profile>.text-list>li{
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 10px;
    }

    main>.sec02>.inner>.cont-wrap>.profile>.text-list>li>.check{
        width: 34px;
        height: 34px;
        margin-right: 10px;
    }
    
    main>.sec02>.inner>.cont-wrap>.info-cont{
        display: flex;
        justify-content: space-around;
    }

    main>.sec02>.inner>.cont-wrap>.info-cont>.left{
        margin-right: 80px;
    }

    main>.sec02>.inner>.cont-wrap>.info-cont>.left{
        margin-bottom: unset;
    }
    main>.sec02>.inner>.cont-wrap>.info-cont>.right>.card:first-child{
        margin-bottom: 60px;
    }

    main>.sec02>.inner>.cont-wrap>.info-cont .card{
        padding: 40px;
    }

    main>.sec02>.inner>.cont-wrap>.info-cont .card>.subtitle{
        height: 50px;
        position: absolute;
        top: -25px;
        left: 25px;
    }

    main>.sec02>.inner>.cont-wrap>.info-cont .card>.history>.period{
        margin-right: 40px;
    }

    main>.sec02>.inner>.cont-wrap>.info-cont .card>.history>.period>li{
        font-size: 24px;
        line-height: 34px;
        margin-right: 40px;
        margin-bottom: 8px;
    }

    main>.sec02>.inner>.cont-wrap>.info-cont>.left>.card>.history>.period>li,
    main>.sec02>.inner>.cont-wrap>.info-cont>.right>.card>.history>.period>li:last-child{
        height: 102px;
    }

    main>.sec02>.inner>.cont-wrap>.info-cont>.left>.card>.history>.period>li:nth-child(3){
        height: 132px;
    }

    main>.sec02>.inner>.cont-wrap>.info-cont .card>.history>.experience>li{
        margin-bottom: 8px;
    }

    main>.sec02>.inner>.cont-wrap>.info-cont .card>.history>.experience>li>h4{
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 8px;
    }
    
    main>.sec02>.inner>.cont-wrap>.info-cont .card>.history>.experience>li>p{
        font-size: 26px;
        line-height: 30px;
    }

    /* section02 end */
    /* section03 start */

    main>.sec03>.inner{
        padding: unset;
    }

    main>.sec03>.inner>.cont-wrap>.card-wrap{
        justify-content: space-around;
        padding: 0px 80px;
    }

    main>.sec03>.inner>.cont-wrap>.card-wrap>li{
        box-shadow: 1px 2px 3px rgba(0,0,0,0.25);
        margin-bottom: 120px;
        transition-duration: 0.5s;
    }

    main>.sec03>.inner>.cont-wrap>.card-wrap>li:nth-child(5),
    main>.sec03>.inner>.cont-wrap>.card-wrap>li:nth-child(6),
    main>.sec03>.inner>.cont-wrap>.card-wrap>li:nth-child(7),
    main>.sec03>.inner>.cont-wrap>.card-wrap>li:last-child{
        margin-bottom: unset;
    }

    main>.sec03>.inner>.cont-wrap>.card-wrap>li>.front{
        padding: 30px;
    }

    main>.sec03>.inner>.cont-wrap>.card-wrap>li>.front>.img-box{
        width: 220px;
        height: 220px;
    }

    main>.sec03>.inner>.cont-wrap>.card-wrap>li>.front>p{
        font-size: 26px;
        line-height: 30px;
    }

    main>.sec03>.inner>.cont-wrap>.card-wrap>li>.back{
        padding: 30px;
    }

    main>.sec03>.inner>.cont-wrap>.card-wrap>li>.back>p{
        font-size: 26px;
        line-height: 30px;
    }

    /* section03 end */
    /* section04 start */

    main>.sec04>.inner{
        padding: unset;
    }

    main>.sec04>.inner>.cont-wrap>.filter{
        margin-bottom: 80px;
    }


    main>.sec04>.inner>.cont-wrap>.filter>li{
        font-size: 27px;
        line-height: 52px;
        margin-right: 60px;
    }

    main>.sec04>.inner>.cont-wrap>.filter>li>p{
        height: 52px;
    }

    main>.sec04>.inner>.cont-wrap>.card-wrap>li{
        margin-right: unset;
        margin-bottom: 60px;
    }

    main>.sec04>.inner>.cont-wrap>.card-wrap>li:nth-child(9){
        margin-bottom: 60px;
}

    main>.sec04>.inner>.cont-wrap>.card-wrap>li>.front{
        padding: 30px;
    }

    main>.sec04>.inner>.cont-wrap>.card-wrap>li>.front>.img-box{
        width: 320px;
        height: 320px;
        margin-bottom: 30px;
    }

    main>.sec04>.inner>.cont-wrap>.card-wrap>li>.front>.pro-title>.category{
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 8px;
    }

    main>.sec04>.inner>.cont-wrap>.card-wrap>li>.front>.pro-title>h4{
        font-size: 26px;
        line-height: 30px;
        text-align: center;
    }

    main>.sec04>.inner>.cont-wrap>.card-wrap>li>.back>.btn>li{
        font-size: 26px;
        line-height: 30px;
        padding: 8px 10px;
        border-radius: 50px;
        margin-bottom: 16px;
    }

    /* section04 end */
    /* footer start */

    footer>.ft-top>.inner{
        padding: 100px 0px;
    }

    footer>.ft-top>.inner>.text>h5{
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }

    footer>.ft-top>.inner>.text>p{
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    footer>.ft-top>.inner>.text>p:last-child{
        margin-bottom: 0px;
    }

    footer>.ft-btm>.inner{
        padding: 10px 0px;
    }

    footer>.ft-btm>.inner>.text{
        font-size: 20px;
        line-height: 24px;
    }

    /* footer end */

}