* {
    margin: 0px;
    padding: 0px;
    color: inherit;
}

body{
    color:#2e2a3d;
    font-family: "G마켓 산스 TTF","210 마마블럭";
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#wrap {
    width: 100%;
    position: relative;
}

header,
main,
section,
footer {
    position: relative;
}

section {
    padding: 50px 0px;
}

h3.title {
    margin: 0px 0px 60px 120px;
    height: 50px;
    padding: 10px 20px;
    display: inline-block;
    font-size: 70px;
    font-family: "210 마마블럭";
    font-weight: 800;
    background-color: white;
    border: 3px solid #2e2a3d;
    border-radius: 20px;
    box-shadow: 10px 10px #2e2a3d;
}

#wrap{
    min-width: 1024px;
    overflow: hidden;
}

header {
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
}

header .logo {
    width: 120px;
    height: 120px;
    position: fixed;
    top: 50px;
    left: 30px;
}

header .logo img {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    transition: all 0.4s;
}

header .logo .purple,
header .logo .white.change{
    opacity: 1;
}

header .logo .white,
header .logo .purple.change{
    opacity: 0;
}

header .logo:hover {
    animation-name: shake;
    animation-duration: 1s;
}

@keyframes shake {

    20% {
        transform: rotate(30deg);
    }

    40% {
        transform: rotate(-30deg);
    }

    60% {
        transform: rotate(15deg);
    }

    80% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

header .menu_wrap {
    position: fixed;
    top: 50px;
    right: 30px;
}

header .menu_wrap li {
    text-align: right;
    font-size: 30px;
    font-family: "210 마마블럭";
    font-weight: 800;
    color: #2e2a3d;
    transition: all 0.4s;
}

header .menu_wrap li:before {
    content: '';
    background-image: url(../img/menu_eft.png);
    background-size: contain;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    opacity: 0;
    transition-duration: 0.2s;
}

header .menu_wrap a {
    display: inline-block;
    position: relative;
}

header .menu_wrap a:before {
    display: block;
    content: '';
    width: 0%;
    transition: width 0.4s;
    height: 3px;
    background-color: #2e2a3d;
    position: absolute;
    bottom: 8px;
    left: 0;
}

header .menu_wrap li.menuon:before {
    opacity: 1;
    transform: rotate(-90deg);
}

header .menu_wrap li.menuon a:before {
    width: 100%;
}

header .menu_wrap.change a:before{
    background-color: #fff;
}

header .menu_wrap.change li{
    color:#fff;
}

header .menu_wrap.change li:before{
    background-image: url(../img/menu_eft_black.png);
}

/*header end*/

main {
    width: 100%;
    padding: 280px 0px;
    background-color: #FBC82E;
    background-image: url(../img/tile_pttn1.png);
    background-repeat: repeat;
}

main .title_box {
    width: 650px;
    height: 200px;
    margin: 0px auto;
    position: relative;
}

main .title_box .main_title_wrap {
    width: 650px;
    height: 115px;
    position: relative;
}

main .title_box .main_title_wrap .main_title {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-size: contain;
}

main .title_box .main_title:first-child {
    background-image: url(../img/main_title5.png);
    z-index: 60;
}

main .title_box .main_title:nth-child(2) {
    background-image: url(../img/main_title4.png);
    z-index: 70;
    top: -10px;
    left: -10px;
}

main .title_box .main_title:nth-child(3) {
    background-image: url(../img/main_title3.png);
    z-index: 80;
    top: -20px;
    left: -20px;
}

main .title_box .main_title:nth-child(4) {
    background-image: url(../img/main_title2.png);
    z-index: 90;
    top: -30px;
    left: -30px;
}

main .title_box .main_title:nth-child(5) {
    background-image: url(../img/main_title1.png);
    z-index: 100;
    top: -40px;
    left: -40px;
}

main .title_box .star_box .star {
    background-size: contain;
    position: absolute;
    animation-name: twinkle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

main .title_box .star_box .star1 {
    width: 44px;
    height: 44px;
    top: -66px;
    right: -35px;
    background-image: url(../img/star_eft1.png);
}

main .title_box .star_box .star2 {
    width: 70px;
    height: 70px;
    top: -45px;
    right: -100px;
    background-image: url(../img/star_eft2.png);
}

@keyframes twinkle {

    50% {
        transform: scale(20%);
    }

    100%;

        {
        transform: scale(100%);
    }
}

main .title_box .main_title_sub {
    width: 100%;
    height: 85px;
    margin-left: 300px;
    background-image: url(../img/main_title_sub.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*main end*/

.sec_1 {
    width: 100%;
    background-color: #FBC82E;
    background-image: url(../img/tile_pttn1.png);
    background-repeat: repeat;
}

.sec_1 .figure_wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    left:0px;
}

.sec_1 .figure,
.sec_1 .star{
    position: absolute;
    transform-origin: center;
}

.sec_1 .figure{
    transform: scale(0);
}

.sec_1 .figure:first-child{
    width: 60px;
    top:100px;
    left:320px;
    transition-duration:0.3s;
    transition-delay: 0.5s;
}

.sec_1 .figure:nth-child(2){
    width: 100px;
    top:280px;
    left:130px;
    transition-duration:0.3s;
    transition-delay: 0.3s;
}

.sec_1 .figure:nth-child(3){
    width: 50px;
    top:130px;
    right:350px;
    transition-duration:0.3s;
    transition-delay: 0.2s;
}

.sec_1 .figure:nth-child(4){
    width: 80px;
    top:200px;
    right:130px;
    transform-origin: center;
    transition-duration:0.3s;
    transition-delay: 0.4s;
}

.sec_1 .figure.appear{
    transform: scale(1) rotate(360deg);
}

.sec_1 .figure_wrap img{
    width:100%;
    display: block;
}

.sec_1 .figure_wrap .star:nth-child(5){
    width:35px;
    top:320px;
    left:320px;
}

.sec_1 .figure_wrap .star:nth-child(6){
    width:60px;
    top:20px;
    right:400px;
}

.sec_1 .figure_wrap .star:nth-child(7){
    width: 50px;
    top:420px;
    right:320px;
}

.sec_1 .figure_wrap .star:nth-child(5),
.sec_1 .figure_wrap .star:nth-child(6),
.sec_1 .figure_wrap .star:nth-child(7){
    animation-name: ccw;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes ccw{
    
    0%{transform: rotate(0deg);}
    
    100%{transform: rotate(360deg);}
}

.sec_1 .figure_wrap .star:nth-child(8){
    top:100px;
    left:470px;
    z-index: 100;
}

.sec_1 .figure_wrap .star:nth-child(9){
    top:350px;
    right:460px;
    z-index: 100;
}

.sec_1 .star:nth-child(8),
.sec_1 .star:nth-child(9){
    animation-name: acw;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes acw{
    
    0%{transform: rotate(0deg);}
    
    100%{transform: rotate(-360deg);}
}

.sec_1 .profile_box {
    width: 300px;
    height: 430px;
    border: 5px solid #2e2a3d;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #ff6c00;
    margin: 0px auto 10px auto;
    transition: opacity 0.3s;
    opacity: 0;
}

.sec_1 .profile_pic {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.6s linear;
}

.sec_1 .profile_wrap.fadeNrotate .profile_box{
    opacity: 1;
}

.sec_1 .profile_wrap.fadeNrotate .profile_box .profile_pic {
    transform: rotateY(-180deg);
}

.sec_1 .profile_wrap.fadeNrotate .profile_text{
    opacity: 1;
    transform: translateY(0);
}

.sec_1 .profile_wrap.fadeNrotate .profile_pic .pro_back{
    opacity: 1;
}

.sec_1 .profile_pic .pro_front,
.sec_1 .profile_pic .pro_back {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 0;
}

.sec_1 .profile_pic .pro_front {
    background-color: #00ce70;
}

.sec_1 .profile_pic .pro_back {
    background-color: #fff;
    transform: rotateY(-180deg);
    opacity: 0;
    transition: opacity 0s;
    transition-delay: 0.3s
}

.sec_1 .profile_pic img {
    width: 78%;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.sec_1 .profile_text{
    width: 630px;
    margin: 0px auto;
    transition: all 0.3s;
    transition-delay: 0.3s;
    transform: translateY(50%);
    opacity: 0;
}

.sec_1 .profile_text h3 {
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 41px;
    font-family: "210 마마블럭";
    font-weight: 900;
    letter-spacing: 1.5px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    text-shadow: -2px 0 #2e2a3d, 0 2px #2e2a3d, 2px 0 #2e2a3d, 0 -2px #2e2a3d;
}

.sec_1 .profile_text h3:before {
    content: '';
    width: 100%;
    height: 15px;
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: -1;
    background-color: #b469f7;
}

.sec_1 .profile_text p{
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.sec_1 .profile_text p:last-child{
    font-size:18px;
    text-align: left;
    outline-offset: 25px;
}
/*section 1 end*/

.sec_2 {
    width: 100%;
    background-color: #FBC82E;
    background-image: url(../img/tile_pttn1.png);
    background-repeat: repeat;
}

.sec_2 .info_wrap {
    display: flex;
    justify-content: center;
    position: relative;
}

.sec_2 .info_box .info_type {
    height: 25px;
    margin-left: 20px;
    padding: 5px 35px;
    display: inline-block;
    font-size: 30px;
    font-family: "210 마마블럭";
    font-weight: 700;
    background-color: #FCAC38;
    border: 3px solid #2e2a3d;
    border-radius: 30px;
}

.sec_2 .info_box .info_text {
    font-size: 23px;
    line-height: 30px;
    font-weight: 300;
    padding: 20px 20px 10px 20px;
    background-color: white;
    border: 3px solid #2e2a3d;
    margin-top: -15px;
}

.sec_2 .info_box .info_text span {
    font-size: 25px;
    font-weight: 500;
}

.sec_2 .info_wrap .left_box {
    margin-right: 50px;
    padding-top: 40px;
    box-sizing: border-box;
}

.sec_2 .info_wrap .name,
.sec_2 .info_wrap .certificate,
.sec_2 .info_wrap .e-mail {
    display: inline-block;
}

.sec_2 .info_wrap .name .info_text,
.sec_2 .info_wrap .certificate .info_text,
.sec_2 .info_wrap .e-mail .info_text {
    padding: 20px 50px 10px 60px;
}

.sec_2 .info_wrap .name .info_text {
    text-align: center;
}

.sec_2 .info_wrap .left_top {
    display: flex;
}

.sec_2 .info_wrap .left_top .info_box {
    margin-bottom: 30px;
}

.sec_2 .info_wrap .left_top .left_top_left {
    margin-right: 50px;
}

.sec_2 .info_wrap .right_box .info_text {
    padding: 30px 45px;
}

.sec_2 .info_wrap .right_box .info_text .con {
    text-align: center;
    margin-bottom: 20px;
}

.sec_2 .info_wrap .right_box .info_text .con:last-child {
    margin-bottom: 0px;
}

/*section2 end*/

.sec_3 {
    width: 100%;
    background-color: #FBC82E;
    background-image: url(../img/tile_pttn1.png);
    background-repeat: repeat;
}

.sec_3 .skill_wrap .row {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.sec_3 .skill_wrap .row:first-child .skill {
    margin: 0 50px;
}

.sec_3 .skill_wrap .row:last-child .skill {
    margin: 0 40px;
}

.sec_3 .skill_wrap .row .skill:nth-child(2),
.sec_3 .skill_wrap .row:last-child .skill:last-child {
    margin-top: 60px;
}

.sec_3 .skill_wrap .row img {
    display: block;
    margin: 0 auto;
}

.sec_3 .skill_wrap .row img:first-child {
    height: 70px;
}

/*section3 end*/

.sec_4 {
    width: 100%;
    background-color: #592366;
    padding: 100px 0px;
}

.sec_4 .archieve_wrap {
    width: 1080px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.sec_4 .archieve_wrap .web_title h5 {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 23px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

.sec_4 .archieve_wrap .web_title span {
    display: block;
    font-size: 18px;
    color: #fff;
    line-height: 33px;
    font-weight: 300;
}

.sec_4 .archieve_wrap .track_box {
    width: auto;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
}

.sec_4 .track_box .img_box {
    width: 300px;
    height: 300px;
    margin-top: 30px;
    position: relative;
    background-color: black;
    transition: all 0.6s linear;
}

.sec_4 .track_box .img_box:last-child {
    margin-right: 0px;
}

.sec_4 .track_box .img_box.current:hover img {
    opacity: 0.3;
}

.sec_4 .track_box .img_box.current:hover .view_btn {
    opacity: 1;
}

.sec_4 .track_box .img_box img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition-duration: 0.3s;
}

.sec_4 .img_box .view_btn {
    font-size: 15px;
    text-align: center;
    color: #fff;
    border: 1.5px solid #fff;
    border-radius: 20px;
    padding: 5px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition-duration: 0.3s;
}

.sec_4 .img_box.left {
    transform: perspective(1000px) rotateY(90deg);
    opacity: 0;
}

.sec_4 .img_box.prv {
    transform: perspective(1000px) rotateY(45deg);
}

.sec_4 .img_box.current {
    transform: perspective(1000px) rotateY(0);
}

.sec_4 .img_box.nxt {
    transform: perspective(1000px) rotateY(-45deg);
}

.sec_4 .img_box.right {
    transform: perspective(1000px) rotateY(-90deg);
    opacity: 0;

}

.sec_4 .web_title h5:first-child,
.sec_4 .web_title h5:last-child,
.sec_4 .text_wrap p:first-child,
.sec_4 .text_wrap p:last-child {
    display: none;
}

.sec_4 .popup_bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top:0px;
    left:0px;
    z-index: 200;
    display: none;
}

.sec_4 .popup_box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: none;    
}

.sec_4 .popup_box .popup_wrap{
    width: 860px;
    height: 600px;
    background-color: #fff;
    position: relative;
    left:-80px;
}

.sec_4 .popup_wrap .close{
    width: 40px;
    height: 40px;
    position: absolute;
    top:-15px;
    right: -15px;
    background-color: #fff;
    border: 3px solid #2e2a3d;
    border-radius: 50%;
    cursor: pointer;
}

.sec_4 .popup_wrap .close span{
    display: block;
    width: 20px;
    height: 3px;
    background-color: #2e2a3d;
    position: absolute;
    top:50%;
    left:50%;
}

.sec_4 .popup_wrap .close span:first-child{
    transform: translate(-50%,-50%) rotate(45deg);
}

.sec_4 .popup_wrap .close span:last-child{
    transform: translate(-50%,-50%) rotate(-45deg);
}

.sec_4 .popup_wrap .popup_top{
    width: 100%;
    height: 35%;
    display: flex;
    padding: 30px 50px;
    box-sizing: border-box;
}

.sec_4 .popup_box.drbro .popup_wrap .popup_top{
    background-color: #00358D;
}

.sec_4 .popup_box.klug .popup_wrap .popup_top{
    background-color: #008F85;
}

.sec_4 .popup_box.bma .popup_wrap .popup_top{
    background-color: #595757;
}

.sec_4 .popup_top .project h3{
    font-size:25px;
    font-weight: 500;
    color:#fff;
    margin-bottom: 15px;
}

.sec_4 .popup_top .project span{
    display: block;
    font-weight: 300;
    font-size:18px;
    color:#fff;
}

.sec_4 .popup_top .project p{
    width: 280px;
    font-size:13px;
    line-height: 18px;
    color: rgba(255,255,255,0.5);
}

.sec_4 .popup_top .project_info{
    padding: 60px 20px;
}

.sec_4 .popup_top .project_info p{
    font-size: 15px;
    color:#fff;
    font-weight: 100;
}

.sec_4 .popup_top .project_info span{
    font-size:15px;
    color:#fff;
    font-weight: 500;
    margin-right: 20px;
}

.sec_4 .popup_top .view_btn{
    padding: 20px;
    transition: filter 0.3s;
}

.sec_4 .popup_top .view_btn:hover{
    filter:drop-shadow(0px 3px 4px rgba(0,0,0,0.3));
}

.sec_4 .view_btn a{
    display: block;
    width: 120px;
    height: 120px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    padding: 30px;
    box-sizing: border-box;
}

.sec_4 .view_btn img{
    display: block;
    margin: 0 auto 10px auto;
}

.sec_4 .view_btn svg{
    display: block;
    margin: 0 auto;
}

.sec_4 .view_btn svg .svg-elem-1 {
  stroke-dashoffset: 48px;
  stroke-dasharray: 48px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
          transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

.sec_4 .view_btn:hover svg .svg-elem-1 {
  stroke-dashoffset: 0;
}

.sec_4 .view_btn svg .svg-elem-2 {
  stroke-dashoffset: 8.240521430969238px;
  stroke-dasharray: 8.240521430969238px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
          transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
}

.sec_4 .view_btn:hover svg .svg-elem-2 {
  stroke-dashoffset: 0;
}

.sec_4 .view_btn svg .svg-elem-3 {
  stroke-dashoffset: 8.234116554260254px;
  stroke-dasharray: 8.234116554260254px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s;
          transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s;
}

.sec_4 .view_btn:hover svg .svg-elem-3 {
  stroke-dashoffset: 0;
}

.sec_4 .popup_wrap .popup_btm{
    width: 100%;
    height: 65%;
    padding: 10px 50px;
    box-sizing: border-box;
    color:#2e2a3d;
}

.sec_4 .popup_wrap .popup_btm .top,
.sec_4 .popup_wrap .popup_btm .btm{
    display: flex;
}

.sec_4 .popup_wrap .popup_btm .top{
    margin-bottom: 15px;
}

.sec_4 .popup_btm h4{
    font-size:15px;
    border:2px solid #2e2a3d;
    box-sizing: border-box;
    padding: 5px 12px;
    background-color: #fff;
    display: inline-block;
    position: relative;
    margin-bottom: 25px;
}

.sec_4 .popup_btm h4:before{
    content: '';
    width: calc(100% + 4px);
    height: 10px;
    background-color: #2e2a3d;
    transform: skewX(45deg);
    position: absolute;
    bottom: -12px;
    left:3px;
}

.sec_4 .popup_btm h4:after{
    content: '';
    width: 10px;
    height: calc(100% + 4px);
    background-color: #2e2a3d;
    transform: skewY(45deg);
    position: absolute;
    top: 3px;
    right:-12px;
}

.sec_4 .popup_btm .detail{
    width: 40%;
    margin-right: 20px;
    font-size:15px;
}

.sec_4 .popup_btm .detail:nth-child(2n){
    margin-right: 0px;
}

.sec_4 .popup_btm .detail:first-child img{
    width: 300px;
    display: block;
}

.sec_4 .popup_btm .detail:last-child .color_box{
    display: flex;
}

.sec_4 .popup_btm .detail:last-child .color div{
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
    margin-right: 30px;
}

.sec_4 .popup_btm .top .detail p{
    margin-bottom: 10px;
}

.sec_4 .popup_box.drbro .popup_btm .detail:last-child .color:first-child div{
    background-color:#00358D;
}

.sec_4 .popup_box.drbro .popup_btm .detail:last-child .color:last-child div{
    background-color:#3E526A;
}

.sec_4 .popup_box.klug .popup_btm .detail:last-child .color:first-child div{
    background-color:#008F85;
}

.sec_4 .popup_box.klug .popup_btm .detail:last-child .color:last-child div{
    background-color:#70A49A;
}

.sec_4 .popup_box.bma .popup_btm .detail:last-child .color:first-child div{
    background-color:#595757;
}

.sec_4 .popup_box.bma .popup_btm .detail:last-child .color:nth-child(2) div{
    background-color:#898989;
}

.sec_4 .popup_box.bma .popup_btm .detail:last-child .color:last-child div{
    background-color:#EEEEEE;
}

.sec_4 .popup_bg .thumbnail{
    width: 400px;
    height: 520px;
    position: absolute;
    top:50px;
    right: -200px;
    overflow: hidden;
    box-shadow: -5px 5px 5px rgba(0,0,0,0.3);
} 

.sec_4 .popup_bg .thumbnail img{
    width: 100%;
    margin: unset;
    transform: translateY(0px);
    animation-name: web_scroll;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.46,.3,.75,.86);
    animation-duration: 12s;
}

@keyframes web_scroll{
    0%{transform: translateY(0px);}
    
    50%{
        transform: translateY(calc(-100% + 520px));
    }
    100%{transform: translateY(0px);}
}

/*section4 end*/

.sec_5 {
    width: 100%;
    height: auto;
    background-color: #FC7612;
    background-image: url(../img/tile_pttn2.png);
    background-repeat: repeat;
    position: relative;
}

.sec_5 .sec_wrap {
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0px;
    overflow: hidden;
}

.sec_5 .illust_box {
    font-size: 0px;
    display: flex;
    margin-bottom: 100px;
    position: relative;
}

.sec_5 .illust_box:nth-child(2),
.sec_5 .illust_box:last-child {
    flex-direction: row-reverse;
}

.sec_5 .illust_box .img {
    width: 460px;
    height: auto;
    position: relative;
    overflow: hidden;
}

.sec_5 .illust_box img {
    width: 100%;
    position: relative;
    z-index: 1;
    transition:all 0.5s;
}


.sec_5 .illust_box:last-child .img{
    background-color: #000;
    transition: all 0.6s linear;
}

.sec_5 .illust_box:last-child .view_btn{
    font-size: 15px;
    text-align: center;
    color: #fff;
    border: 1.5px solid #fff;
    border-radius: 20px;
    padding: 5px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition-duration: 0.3s;
}

.sec_5 .illust_box:last-child .img:hover img{
    opacity: 0.3;
}

.sec_5 .illust_box:last-child .img:hover .view_btn{
    opacity: 1;
}

.sec_5 .illust_box .img:hover img{
    transform: scale(1.3);
}

.sec_5 .illust_box .title {
    height: 23px;
    padding: 5px 35px;
    display: inline-block;
    font-size: 30px;
    font-family: "210 마마블럭";
    font-weight: 700;
    background-color: #FCAC38;
    border: 3px solid #2e2a3d;
    border-radius: 30px;
    margin-bottom: 20px;
}

.sec_5 .illust_box .text {
    padding: 25px 45px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
    background-color: #fff;
    border: 3px solid #2e2a3d;
    border-radius: 30px;
}

.sec_5 .illust_box .text_box {
    margin-top: 80px;
}

.sec_5 .illust_box:first-child .text_box,
.sec_5 .illust_box:nth-child(3) .text_box {
    margin-left: 90px;
}

.sec_5 .illust_box:nth-child(2) .text_box,
.sec_5 .illust_box:last-child .text_box {
    margin-right: 150px;
}

/*section5 end*/

footer {
    width: 100%;
    background-color: #2E2A3D;
}

footer .footer_wrap{
    width: 1200px;
    margin: 0 auto;
    color: #fff;
}

footer .footer_wrap p{
    color:#fff;
    text-align: center;
    font-weight: 100;
}

footer .footer_wrap .closing{
    padding: 50px 0px;
}

footer .footer_wrap .closing p:first-child{
    font-size:25px;
    margin-bottom: 20px;
    font-weight: 500;
}

footer .footer_wrap .closing p:last-child{
    font-size:18px;
    line-height: 28px;
}

footer .footer_wrap .contact{
    padding: 50px 0px;
    display: flex;
    justify-content: center;
}

footer .footer_wrap .contact span{
    color:#fff;
    font-size:20px;
    font-weight: 500;
}

footer .footer_wrap .contact p{
    margin-right: 50px;
    font-size:18px;
}

footer .footer_wrap .contact p:last-child{
    margin-right: 0px;
}

footer .footer_wrap .copyright{
    border-top:1px solid rgba(255,255,255,0.1);
    padding: 20px 0px 10px 0px;
}