/* tablet responsive */

@media screen and (min-width: 481px) and (max-width: 768px){

    section{
        padding-top: 140px;
    }


    .sec-title{
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 80px;
    }

    /* header start */

    header>.inner{
        padding: 10px 24px;
    }

    /* header end */
    /* nav-layer start */

    .nav-layer>.nav-wrap>li{
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 40px;
    }

    /* nav-layer end */
    /* section01 start */

    main>.sec01>.cont-wrap{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main>.sec01>.cont-wrap>.text-wrap>.sub-text{
        font-size: 22px;
        line-height: 26px;
    }

    main>.sec01>.cont-wrap>.text-wrap>.main-text{
        font-size: 70px;
        line-height: 100px;
        margin-bottom: 10px;
    }

    main>.sec01>.cont-wrap>.text-wrap>.main-text>.name>p{
        font-size: 80px;
    }
    
    main>.sec01>.cont-wrap>.img-wrap>.img-box{
        width: 320px;
        border: 20px solid #fff;
        box-sizing: border-box;
        box-shadow: 1px 2px 3px rgba(0,0,0,0.25);
        transform: rotate(-4deg);
    }
    
    /* section01 end */
    /* section02 start */

    main>.sec02>.inner{
        padding: 0px 24px;
    }

    main>.sec02>.inner>.cont-wrap>.profile>.photo-cont{
        padding-bottom: 45px;
        margin-bottom: 80px;
    }

    main>.sec02>.inner>.cont-wrap>.profile>.photo-cont>.card{
        border: 20px solid #fff;
    }

    main>.sec02>.inner>.cont-wrap>.profile>.photo-cont>.card>.profile-box{
        width: 393px;
        height: 400px;
    }

    main>.sec02>.inner>.cont-wrap>.profile>.photo-cont>.card>.info{
        padding-top: 16px;
    }

    main>.sec02>.inner>.cont-wrap>.profile>.photo-cont>.card>.info>p{
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 8px;
    }

    main>.sec02>.inner>.cont-wrap>.profile>.text-list{
        margin-bottom: 80px;
        word-break: break-all;
    }
    
    main>.sec02>.inner>.cont-wrap>.profile>.text-list>li{
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 6px;
    }

    main>.sec02>.inner>.cont-wrap>.profile>.text-list>li>.check{
        width: 30px;
        height: 30px;
        margin-right: 8px;
    }
    
    main>.sec02>.inner>.cont-wrap>.info-cont .card{
        /* margin: 0px 30px; */
        box-sizing: border-box;
        padding: 40px;
    }
    
    main>.sec02>.inner>.cont-wrap>.info-cont>.left,
    main>.sec02>.inner>.cont-wrap>.info-cont>.right>.card:first-child{
        margin-bottom: 80px;
    }

    main>.sec02>.inner>.cont-wrap>.info-cont .card>.subtitle{
        height: 50px;
        top: -25px;
        left: 30px;
    }

    main>.sec02>.inner>.cont-wrap>.info-cont .card>.history>.period{
        margin-right: 40px;
    }

    main>.sec02>.inner>.cont-wrap>.info-cont .card>.history>.period>li{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 6px;
    }

    main>.sec02>.inner>.cont-wrap>.info-cont>.left>.card>.history>.period>li,
    main>.sec02>.inner>.cont-wrap>.info-cont>.right>.card>.history>.period>li:last-child{
        height: 86px;
    }

    main>.sec02>.inner>.cont-wrap>.info-cont>.left>.card>.history>.period>li:nth-child(3){
        height: 112px;
    }

    main>.sec02>.inner>.cont-wrap>.info-cont .card>.history>.experience>li{
        margin-bottom: 6px;
    }
    
    main>.sec02>.inner>.cont-wrap>.info-cont .card>.history>.experience>li>h4{
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 4px;
    }
    
    main>.sec02>.inner>.cont-wrap>.info-cont .card>.history>.experience>li>p{
        font-size: 22px;
        line-height: 26px;
    }

    /* section02 end */
    /* section03 start */

    main>.sec03>.inner{
        padding: 0px 24px;
    }

    main>.sec03>.inner>.cont-wrap>.card-wrap{
        justify-content: space-around;
    }

    main>.sec03>.inner>.cont-wrap>.card-wrap>li{
        margin-bottom: 60px;
    }

    main>.sec03>.inner>.cont-wrap>.card-wrap>li:nth-child(7),
    main>.sec03>.inner>.cont-wrap>.card-wrap>li:last-child{
        margin-bottom: unset;
    }

    main>.sec03>.inner>.cont-wrap>.card-wrap>li>.front,
    main>.sec03>.inner>.cont-wrap>.card-wrap>li>.back{
        padding: 30px;
    }

    main>.sec03>.inner>.cont-wrap>.card-wrap>li>.front>.img-box{
        width: 140px;
        height: 140px;
    }

    main>.sec03>.inner>.cont-wrap>.card-wrap>li>.front>p{
        font-size: 22px;
        line-height: 26px;
    }

    main>.sec03>.inner>.cont-wrap>.card-wrap>li>.back>p{
        font-size: 22px;
        line-height: 26px;
    }

    /* section03 end */
    /* section04 start */

    main>.sec04>.inner{
        padding: 0px 24px;
    }

    main>.sec04>.inner>.cont-wrap>.filter{
        margin-bottom: 60px;
    }

    main>.sec04>.inner>.cont-wrap>.filter>li{
        font-size: 23px;
        line-height: 40px;
        margin-right: 60px;
    }

    main>.sec04>.inner>.cont-wrap>.filter>li>p{
        height: 40px;
    }

    main>.sec04>.inner>.cont-wrap>.card-wrap{
        justify-content: space-around;
    }

    main>.sec04>.inner>.cont-wrap>.card-wrap>li{
        margin-bottom: 60px;
    }

    main>.sec04>.inner>.cont-wrap>.card-wrap>li>.front{
        padding: 20px;
    }

    main>.sec04>.inner>.cont-wrap>.card-wrap>li>.front>.img-box{
        width: 250px;
        height: 250px;
        margin-bottom: 20px;
    }

    main>.sec04>.inner>.cont-wrap>.card-wrap>li>.front>.pro-title>.category{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 6px;
    }

    main>.sec04>.inner>.cont-wrap>.card-wrap>li>.front>.pro-title>h4{
        font-size: 22px;
        line-height: 26px;
        text-align: center;
    }

    main>.sec04>.inner>.cont-wrap>.card-wrap>li>.back>.btn>li{
        font-size: 22px;
        line-height: 26px;
        padding: 6px 8px;
        border-radius: 20px;
        margin-bottom: 10px;
    }

    /* section04 end */
    /* footer start */

    footer>.ft-top>.inner{
        padding: 60px 0px;
    }

    footer>.ft-top>.inner>.text>h5{
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    footer>.ft-top>.inner>.text>p{
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 4px;
    }

    footer>.ft-top>.inner>.text>p:last-child{
        margin-bottom: 0px;
    }

    footer>.ft-btm>.inner{
        padding: 8px 0px;
    }

    footer>.ft-btm>.inner>.text{
        font-size: 18px;
        line-height: 24px;
    }

    /* footer end */
}
